Repository NobbZ/tstool: changes, and which lefthook commands are due for each by the changed paths.
All: test, cargo-fmt, nix-fmt

lefthook.yml:

pre-push:
  commands:
    packages-audit:
      run: cargo build --release

pre-commit:
  parallel: true
  commands:
    test:
      glob: "{Cargo.{toml,lock},*.rs}"
      run: cargo test
    cargo-fmt:
      glob: "{Cargo.{toml,lock},*.rs}"
      run: cargo fmt -- --check
    nix-fmt:
      glob: "*.nix"
      run: nixpkgs-fmt --check {staged_files}

add workflow
  .github/workflows/checks.yml
Due: none

fix typo in WF
  .github/workflows/checks.yml
Due: none

fix another typo in Workflow
  .github/workflows/checks.yml
Due: none

reorg the checks
  flake.nix
  nix/checks/cargo-fmt.nix
  nix/checks/nix-fmt.nix
Due: nix-fmt

use naersk to build
  flake.lock
  flake.nix
Due: nix-fmt

first template
  Cargo.lock
  Cargo.toml
  flake.nix
  src/main.rs
  templates/index.html.tera
Due: test, cargo-fmt, nix-fmt

start tool
  Cargo.lock
  Cargo.toml
  src/database/mod.rs
  src/lib.rs
  src/main.rs
  templates/base.html.tera
  templates/tool/show.html.tera
Due: test, cargo-fmt

clean flake a bit
  flake.nix
Due: nix-fmt

remove that commented vendorsha
  flake.nix
Due: nix-fmt

extract build of tstool
  flake.nix
  nix/packages/tstool.nix
Due: nix-fmt

update rust and add components to shell
  .envrc
  nix/dev_shell.nix
  nix/rust_platform.nix
  rustfmt.toml
Due: nix-fmt

add diesel
  .gitignore
  Cargo.lock
  Cargo.toml
  diesel.toml
  migrations/.gitkeep
  migrations/2020-11-13-225819_create_items/down.sql
  migrations/2020-11-13-225819_create_items/up.sql
  nix/dev_shell.nix
  src/schema.rs
Due: test, cargo-fmt, nix-fmt

prepare loading of data files
  Cargo.lock
  Cargo.toml
  data/item/bestiary.yml
  data/item/sundial.yml
  src/bin/datacheck.rs
  src/database/mod.rs
  src/main.rs
Due: test, cargo-fmt

add first task
  data/item/sundial.yml
  data/task/field_fauna.yml
  src/bin/datacheck.rs
  src/database/mod.rs
  src/main.rs
Due: test, cargo-fmt

extract tool struct into its own module
  src/bin/datacheck.rs
  src/database/mod.rs
  src/database/tool.rs
Due: test, cargo-fmt

extractalot
  src/database/mod.rs
  src/database/quest.rs
  src/database/referer.rs
  src/database/region.rs
  src/database/skill.rs
  src/database/task.rs
  src/database/tool.rs
Due: test, cargo-fmt

extract `check_ids`
  src/database/mod.rs
Due: test, cargo-fmt

move lazy-static containers to their modules
  src/database/itemtype.rs
  src/database/mod.rs
  src/database/quest.rs
  src/database/skill.rs
  src/database/task.rs
  src/database/tool.rs
Due: test, cargo-fmt

extratoton
  src/database/itemtype.rs
  src/database/mod.rs
  src/database/quest.rs
  src/database/region.rs
  src/database/skill.rs
Due: test, cargo-fmt

add itemtype/tool.yml
  data/itemtype/tool.yml
  src/database/itemtype.rs
Due: test, cargo-fmt

fix Itemtype::fmt
  src/database/itemtype.rs
Due: test, cargo-fmt

add skill/investigation
  data/skill/investigation.yml
  src/database/skill.rs
Due: test, cargo-fmt

add skill/hunting
  data/skill/hunting.yml
Due: none

add extra log line when finishing a folder
  src/database/mod.rs
Due: test, cargo-fmt

extract store_to_map
  src/database/itemtype.rs
  src/database/mod.rs
  src/database/quest.rs
  src/database/region.rs
  src/database/skill.rs
  src/database/task.rs
Due: test, cargo-fmt

add a simple status page
  src/main.rs
  templates/status/errors.html.tera
Due: test, cargo-fmt
